<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>93436856937-970drnb42h862vus7emnt665ckorcmo8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.93436856937-970drnb42h862vus7emnt665ckorcmo8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>93436856937-6bg4tcn3bh7ju861eve4b6pt63fp4kjj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDdn9SQCP8tmNOsWMN1uTe7G3Bt3PcgxlI</string>
	<key>GCM_SENDER_ID</key>
	<string>93436856937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.furniHuntDashboard.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>furnihunt</string>
	<key>STORAGE_BUCKET</key>
	<string>furnihunt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93436856937:ios:e9b183b43126d10038b0f8</string>
</dict>
</plist>